@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700;800&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;

 */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1352px;
}

.header .header-container {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}


.page-title {
    color: #08A6E4;
    text-align: left;
    font: normal normal 300 32px/37px Raleway;
    letter-spacing: 0px;
    opacity: 1;
    margin-left: 20px;
}

.page-nav {
}

.page-nav-list {
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
    padding: 20px;
    align-items: stretch;
}

.page-nav-list li {
    list-style: none;
    margin: 20px;
    padding-left: 45px;
    font-weight: 300;
}

.page-nav-list a {
    text-transform: uppercase;
    font: 15px Open Sans;
    letter-spacing: 3.28px;
    color: #A5A5A5;
    opacity: 1;
    text-decoration: none;
    line-height: 20px;
}

.page-nav-list a:hover {
    border-bottom: 4px solid #08A6E4;
    color: black;
    opacity: 1;
}

/* sekcja 1 */

.section-header {
    height: 800px;
    background-image: url("../assets/Background.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    justify-content: center;

}

.hero-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 15px;

}

.hero-container h1 {
    padding-top: 80px;
    text-align: center;
    font: normal normal normal 47px/55px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

}

.hero-container p {
    text-align: center;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding: 5px;
    margin: 5px;
}

.buttons {
    text-align: center;
    font: normal normal bold 16px/25px Open Sans;
    letter-spacing: 0px;
    opacity: 1;
    background: #03a6ff;
    border-radius: 40px;
    margin: 20px;
    padding: 25px 110px;
}

.buttons a {
    text-decoration: none;
    color: white;
}

/* sekcja 2 zrobione */
.page-content .container {
    display: flex;
}

.article-header {
    justify-content: center;
    text-align: center;
    display: flex;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding-top: 100px;
}

.article {
    padding-top: 50px;
    padding-bottom: 80px;
    margin: 20px;
    border: 2px solid pink;
}

.article-photo {
    text-align: center;
    justify-content: center;
    height: auto;
    width: auto;
}

.article-text {
    font-size: 16px;
    text-align: center;
    padding: 3px;
    color: grey;
}

.statistics {
    margin-top: 100px;
}

.statistics-container {
    max-width: 900px;
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;
}

.statistics h2 {
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 1px;
    color: #000000;
    opacity: 1;
}

.statistics-box {
    max-width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: Relaway, sans-serif;
}

.circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}

.statistics-box:nth-of-type(1) .circle {
    background: #FB3B64;
}

.statistics-box:nth-of-type(2) .circle {
    background: #08A6E4;
}

.statistics-box:nth-of-type(3) .circle {
    background: #55DFB4;
}

.statistics-box .statistics-img {
    margin-left: 43%;
}

.statistics-box:nth-of-type(2) .statistics-img, .statistics-box:nth-of-type(3) .statistics-img {
    margin-top: 15%;
}

.statistics-box:nth-of-type(2) .statistics-img {
    margin-left: 37%;
}

.statistics-result {
    text-align: center;
    font: normal normal 800 20px/24px Raleway;
    letter-spacing: 6px;
    color: #000000;
    opacity: 1;
}

.description {
    text-align: center;
    font: normal normal normal 16px/19px Raleway;
    letter-spacing: 0px;
    color: #A5A5A5;
    opacity: 1;
    padding-top: 10px;
}

/* sekcja 3 zrobione */

.benefits {
    padding: 100px 0;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;

}

.benefits__container {
    padding: 0 30px;

}

.benefits__single {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    padding-top: -50px;
}

.benefits__text {
    max-width: 415px;
    margin: 90px 36px;
}

.benefits__title {
    text-align: left;
    font: normal normal normal 42px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.benefits__text::after {
    content: "";
    width: 332px;
    height: 4px;
    display: block;
    margin-top: 50px;
}

.benefits__description {
    margin-top: 30px;
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    color: #000000;
    opacity: 1;
    border-bottom: 5px solid #FB3B64;
    padding-bottom: 30px;
}
.benefits__single--phone .benefits__description {
    margin-right:  40px;
}
.benefits__single--phone .benefits__description {
    border-bottom: 4px solid deepskyblue;
    display: flex;
    text-align: left;
    float: left;
}
.benefits__text .benefits__description  {

}

.benefits__single--solo .benefits__description {
    border-bottom: 4px solid #55DFB4;
    margin-right: 100px;
    text-align: left;
}

.benefits__image {
    position: relative;
}

.benefits__image img {
    position: relative;
    z-index: 2;
}

.benefits__single--notebook .benefits__image {
    margin-right: 117px;
    margin-bottom: 38px;
}

.benefits__single--notebook .benefits__image img {
    width: 520px;
    height: auto;
    background: #FB3B64 0% 0% no-repeat padding-box;
    border-radius: 41px;
    opacity: 1;
    padding: 20px;
    /*transform: rotate(45deg);*/
}
/* sekcja do poprawy kwadrat czerwony */
.benefits__single--phone {
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}

.benefits__single--phone .benefits__image::before {
    content: "";
    width: 330px;
    height: 320px;
    background: cornflowerblue;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -20px;
}

.benefits__single--phone .benefits__image {

}

.benefits__single--phone .benefits__image img {
    width: 426px;
    height: auto;
}

.benefits__single--phone .benefits__text {


}

.benefits__double {
    display: flex;
}

.benefits__double > div {
    margin-bottom: 0;
}

.benefits__single--solo {
    max-width: 620px;
}

.benefits__single--solo .benefits__text {
    max-width: none;
    margin: 70px 35px;
}

.benefits__single--image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 60px;
    background-color: #55DFB4;
}

.benefits__single--image img {
    width: 330px;
    height: auto;
    margin-top: 55px;
}
/* wyzej sekcja 3 */
/* sekcja 4 */

.pricing-container{
    margin: 100px auto;
    display: flex;
    height: 120%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: auto;


}
.pricing-container  h2 {
    text-align: center;
    font: normal normal normal 27px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

}
.pricing-container .pricing__boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
/* ułożenie boxów */

.pricing__box {
    width: 420px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;

}
/*kształt boxów */

.pricing__details {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}
.pricing__type {
    font: normal normal normal 25px/41px Open Sans;
    font-weight: 700;
}
.pricing__price {
    font-size: 2.875rem;
    font-family: var(--font-open-sans);
    font-weight: 300;
}
.pricing__box--basic .pricing__price {
    color: #FB3B64FF;
}
.pricing__box--professional .pricing__price {
    color:deepskyblue;
    margin-top: 25px;
}
.pricing__box--premium .pricing__price {
    color: lightseagreen;
    margin-top: 15px;
}
.pricing__box--basic {
    border: 2px solid #FB3B64FF;
}
.pricing__box--basic .pricing__price {
    margin-bottom: 50px;
}
.pricing__box--premium {
    border: 2px solid lightseagreen;
    padding-top: 20px;
}
.pricing__box--professional {
    border: 2px solid deepskyblue;
    padding: 30px;
}
/* sytlowanie niebieskiego boxa */
.pricing__limited {
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    font-family: font: normal normal bold 12px/1px Raleway;
    font-weight: 700;
}
.pricing__box .pricing__box--professional .pricing__limited {
    padding-top: -5px;
}
.pricing__items {
    text-align: center;
}
.pricing__item {
    text-align: center;
    font: normal normal normal 14px/35px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 15px;
}
.pricing__box--professional .pricing__type{
  margin-top: -15px;
}
.pricing__box--premium .pricing__details .pricing__type {
    margin-top: -15px;
    padding-bottom: 10px;
}
.pricing__item:before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Checkmark-1.svg");
}
.pricing__item--not:before {
    background-image: url("../assets/Close.svg");
}
/*stylowanie guzików */
.pricing__box .btn {
    position: relative;
    bottom: -10px;
    font-size: 0.8125rem;
}
.pricing__box .btn--primary {
    background-color: #03a6ff;
    text-decoration: none;
    bottom: -50px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: left;
    font: normal normal bold 16px/45px Open Sans;
    color: #FFFFFF;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 23px;
    opacity: 1;
}
.pricing__box .btn--primary a{
    text-decoration: none;
}
.pricing__box--basic .btn {
    background-color: #FB3B64FF;
    text-decoration: none;
    bottom: -20px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: left;
    font: normal normal bold 16px/45px Open Sans;
    color: #FFFFFF;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 23px;
    opacity: 1;
}
.pricing__box--premium .btn {
    background-color: lightseagreen;
    text-decoration: none;
    bottom: -20px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: left;
    font: normal normal bold 16px/45px Open Sans;
    color: #FFFFFF;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 23px;
    opacity: 1;
}

/* poniżej sekcja KONTAKT */
.contact {
    padding: 100px 50px 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;

}

.contact__column {
    width: 50%;
}

.contact__title {
    text-align: left;
    font: normal normal normal 55px/60px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.contact__instruction {
    margin: 22px 0 42px;
    text-align: left;
    font: normal normal normal 18px/24px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
/* ułożenie i stylowanie czesci  lewej */
.contact__details a {
    text-decoration: none;
    text-align: left;
    font: normal normal 600 18px/24px Open Sans;
    letter-spacing: 1px;
    color: #A5A5A5;
    opacity: 1;
    margin-right: 10px;
}
/* ostylowanie czesci prawej formularza */
.form {
    display: flex;
    flex-direction: column;

}

.form__field {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form__field:first-of-type {
    margin-bottom: 42px;
}
/* ostylowanie name i email*/
.form__label {
    text-transform: uppercase;
    color: var(--color-primary);
    text-align: left;
    font: normal normal bold 16px/21px Open Sans;
    letter-spacing: 3.28px;
    opacity: 1;
}

.form__input {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    background-color: transparent;
    line-height: 2.625rem;
}
/*kontener checkbox */
.form__consent {
    margin-top: 30px;
}

.form__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.375rem;
}

.form__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* odznaczenie checkboxa */
.form__checkbox .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    border-radius: 4px;
}
.form__checkbox .consent__text{
    font: normal normal normal 17px/25px Open Sans;
}
.form__checkbox input:checked ~ .checkbox {
    background-image: url(../assets/Checkmark.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

/* przycisk i guzik */
.form__checkbox .consent__text {
    margin: 0 10px;
    font-size: 0.75rem;
    color: var(--color-grey);
    line-height: 17px;
}

.contact__column .btn  {
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px;
    color: white;
    background: #08A6E4;
    border: none;
    border-radius: 35px;
    opacity: 1;
    font: normal normal bold 17px/22px Open Sans;
}

/* Footer */

.footer {
    box-shadow: 0 -5px 40px #00000029;
    padding: 40px 0;
    height: auto;
    width: auto;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -200px;

}

.footer__copy {
    text-align: left;
    font: normal normal normal 14px/15px Open Sans;
    opacity: 1;
    color: var(--color-grey);
    margin-top: 6px;

}
.footer__info a{
    text-decoration: none;
    text-align: left;
    font: normal normal 300 30px/30px Raleway;
    color: #08A6E4;
    opacity: 1;
}
.footer__icons a:first-of-type {
    margin-right: 25px;
}
.footer__icons a {
    margin-right: -20px;
}

/* do poprawienia zostaje ten kwadrat za laptopem w sekkcji Benefits */
