@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700;800&display=swap');

@import "lib/_header.scss";
@import "lib/_statistics.scss";
@import "lib/_benefits.scss";
@import "lib/_pricing.scss";
@import "lib/_contact.scss";
@import "lib/_footer.scss";
@import "lib/_reset.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
//Dzięki temu, nasza strona będzie przyklejona do krawędzi ekranu jeżeli będzie on mniejszy niż 1352px
.container {
  @media (max-width: 1352px) {
    width: 100%;
    padding: 0 15px;
  }
}
@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 500px) {@content};
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 900px) {@content};
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 1352px) {@content};
  }
  @if $breakpoint == big-deskop {
    @media only screen and (max-width: 1800px) {@content}
    }
  }

$colorBlue: #08A6E4;
$backgroung: #A5A5A5;
$statisticsBox: #FB3B64;
$statisticsBox2: #55DFB4;
$fontRelaway:"Raleway", sans-serif;
$fontOpen: "Open Sans", sans-serif;
